.env
.env.local
.env.*.local
.env.production
node_modules
.DS_Store
package-lock.json

build

#backend
backend/node_modules/
backend/.env
backend/.env.local
backend/.env.*.local
backend/*.sqlite
backend/*.db
!backend/package-lock.json